.popup__input-error {
    font-family: "Inter", Arial, sans-serif;
    box-sizing: border-box;
    color: #FF0000;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    min-height: 36px;
    padding-top: 5px;
}